html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --primary-blue: rgba(38, 153, 251, 1);
  --lighter-blue: rgba(127, 196, 253, 1);
  --lightest-blue: rgba(188, 224, 253, 1);
  --superlight-blue: rgba(241, 249, 255, 1);
}

.heading {
  font-family: "Montserrat";
  font-weight: 900;
  color: var(--primary-blue);
}

.color_container {
  width: 90%;
  margin: auto;
}

.cLists {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-family: sans-serif;
  margin: auto;
}
.wrap {
  padding: 20px;
}
.body {
  display: flex;
  align-items: center;
}
.sample {
  text-align: center;
  border: 1px dashed #aaa;
  border-radius: 8px;
  padding: 30px;
}

.sample__color {
  display: block;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: var(--color);
}

.controller {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px -36px 0;
  padding: 32px 0 0;
  border-top: 1px solid #ccc;
}

.controller > label {
  display: flex;
  align-items: center;
}

.controller button {
  display: block;
}

.controller span {
  display: block;
  margin-right: 4px;
  font-size: 14px;
}

@media (max-width: 426px) {
  .body {
    flex-direction: column-reverse;
  }
}

.nextButton {
  background-color: var(--primary-blue, rgba(38, 153, 251, 1));
  color: #fff;
  font-family: "Montserrat";
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: none;
  margin-left: 5px;
  font-size: 10px;
}

.main {
  width: 90%;
  margin: auto;
}

.uploadText {
  font-family: "Montserrat";
  font-weight: 600;
}
.blue {
  color: #00a0d1;
}

#profilePic {
  border-radius: 60px;
  width: 60px;
  height: 60px;
}

.launchButton {
  background-color: var(--primary-blue, rgba(38, 153, 251, 1));
  color: #fff;
  font-family: "Montserrat";
  border-radius: 5px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: none;
  margin-left: 5px;
  font-size: 16px;
}
.launchButton:disabled {
  background-color: gray;
}
.borderClipper {
  border-radius: 50px;
}
#suggestions > p {
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
}

.suggestion {
  color: var(--primary-blue);
  font-family: "Montserrat";
  margin: 1.5rem;
  font-weight: 800;
}
#canvas {
  margin: 0px auto;
  text-align: center;
  border-radius: 100px;
  display: flex;
  align-items: center;
}
#file-input {
  border-radius: 10px !important;
}

.barContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin: 20px auto;
}

#myProgress {
  width: 100%;
  background-color: rgba(173, 173, 173, 0.65);
  border-radius: 10px;
  margin: 15px auto;
  border-radius: 100px;
}

#myBar {
  width: 100%;
  height: 15px;
  border-radius: 100px;
  background-color: #00a0d1;
}

.logoImage {
  width: 25%;
  margin: 20px 0px;
}

.input-group-append span {
  background-color: #00a0d1 !important;
  color: white;
}

@media screen and (max-width: 800px) {
  .logoImage {
    width: 35%;
  }
}

.input-group-text {
  font-size: 15px;
}

.grayText {
  color: rgb(136, 136, 136);
}

.formContainer label span {
  font-weight: lighter;
}

.domainCheckContainer {
  list-style: none;
  padding-left: 5px;
}

.greenBullet {
  color: rgb(0, 158, 0);
}

.grayBullet {
  color: gray;
}

.redBullet {
  color: red;
}

.otherSuggestions {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  margin: auto;
  padding: 10px 20px;
}

.colorList {
  list-style: none;
}

.colorList ion-icon {
  font-size: 30px;
  margin: 10px auto;
  cursor: pointer;
}

.mobileLeft {
  text-align: center;
}

.selectedColor {
  font-size: 80px;
  margin: auto;
}
.selectedColorContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .mobileLeft {
    text-align: left;
  }
  .cLists {
    justify-content: space-between;
    width: 100%;
  }
}
